{% extends "oj_base/base.html" %}
{% load static %}
{% block css%} {% static 'oj_base/css/index.css' %} {% endblock %}

{% block  标题 %}Welcome AOJ {%endblock%}
{% block  主页高亮 %}active {%endblock%}

{% block  主体 %}
      <!--按钮组 分页 分类 --> 
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-lg" style="float:left;">
          {% if 当前页数 > 1 %}
            <a href="{% url 'oj_base:主页'%}?type={{当前分类}}&page={{ 当前页数|add:-1 }}" class="btn btn-dark" title="">
              <span class="oi oi-arrow-circle-left" title="arrow-circle-left" aria-hidden="true"></span>
            </a>
          {% else %}
            <a href="#" class="btn btn-dark" title="">
              <span class="oi oi-x" title="x" aria-hidden="true"></span>
            </a>
          {% endif %}
          {% if 新闻总数 %}
          <a href="#" class="btn btn-dark">当前：第{{当前页数}}页 , 共{{总页数}}页</a>
          {% else %}
          <a href="#" class="btn btn-dark">ლ(′◉❥◉｀ლ)</a>
          {% endif %}
          {% if 当前页数 < 总页数 %}
            <a href="{% url 'oj_base:主页'%}?type={{当前分类}}&page={{ 当前页数|add:1 }}" class="btn btn-dark" title="">
              <span class="oi oi-arrow-circle-right" title="arrow-circle-right" aria-hidden="true"></span>
            </a>
          {% else %}
            <a href="#" class="btn btn-dark" title="">
              <span class="oi oi-x" title="x" aria-hidden="true"></span>
            </a>
          {% endif %} 
        </div>
        <div class="btn-group btn-group-lg" style="float:right;">
          <a href="{% url 'oj_base:主页'%}?type=0&page=1" class="btn btn-dark {% ifequal 0 当前分类 %}active{% endifequal %}" >所有分类</a> <!---->
          {% for item in 新闻类别们 %}
            <a href="{% url 'oj_base:主页'%}?type={{item.id}}&page=1" class="btn btn-dark {% ifequal item.id 当前分类 %}active{% endifequal %}" >{{item.type_name}}</a>
          {% endfor %}
        </div>
      </div><br>
      <!--主体部分-->
      <div class="card-columns">
        {% for item in 新闻们%}
            {% if item.mottoauthor %}
              <div class="card text-white bg-{{颜色们|random}}">
                <div class="card-body">
                  <p class="card-text">{{item.content}}</p>
                  <cite title="Source Title" style="float:right; margin-right:20px;" >——{{item.mottoauthor}}</cite>
                  <br>
                </div>
              </div>
            {% else %}
              <div class="card" style="background: linear-gradient(to right,#ebf6ff,#ffffff);">
                  <!-- Heading -->
                  <div class="card-body">
                    <h4 class="card-title">{{item.title}}</h4>        <!--.pk是取主键 这里是newsType的id-->
                    <h6 class="card-subtitle text-dark" style="float:right;">
                      <span class="oi oi-tags" title="tags" aria-hidden="true"></span>
                      <a href="{% url 'oj_base:主页'%}?type={{item.newstype.pk}}" class="text-primary">{{item.newstype}}</a>
                      &nbsp;&nbsp;&nbsp;
                      <span class="oi oi-timer" title="timer" aria-hidden="true"></span> 
                      {{item.created_time|date:"Y-m-d H:i:s"}}
                    </h6>
                  </div>
                  <!-- Image -->
                  <img class="card-img-top" src="{% static 'oj_base/images/' %}{{新闻们的默认图片|random}}" alt="">
                  <!-- Text Content -->
                  <div class="card-body">
                    <p class="card-text">{{item.content | truncatechars:450}}</p> <!-- 这里之后需要自定义过滤器 取min(450,30%*content)-->
                    <!-- Links -->
                    {% if user.is_staff %}
                      <a href="{% url 'oj_base:编辑新闻' item.id  %}" class="btn btn-danger" >编辑</a>
                    {% endif %}
                    <a href="{% url 'oj_base:新闻' item.id  %}" class="btn btn-primary" style="float:right; margin-bottom:20px;">查看全文</a>
                  </div>
              </div>
            {% endif %}
        {% endfor %}
      </div><br>
      <!--页面跳转-->
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups" style="float:right">
        <div class="btn-group btn-group-lg">
          {% if 当前页数 > 1 %}
            <a href="{% url 'oj_base:主页'%}?type={{当前分类}}&page={{ 当前页数|add:-1 }}" class="btn btn-dark" title="">
              <span class="oi oi-arrow-circle-left" title="arrow-circle-left" aria-hidden="true"></span>
            </a>
          {% else %}
            <a href="#" class="btn btn-dark" title="">
              <span class="oi oi-x" title="x" aria-hidden="true"></span>
            </a>
          {% endif %}
          {% if 新闻总数 %}
          <a href="#" class="btn btn-dark">当前：第{{当前页数}}页 , 共{{总页数}}页</a>
          {% else %}
          <a href="#" class="btn btn-dark">ლ(′◉❥◉｀ლ)</a>
          {% endif %}
          {% if 当前页数 < 总页数 %}
            <a href="{% url 'oj_base:主页'%}?type={{当前分类}}&page={{ 当前页数|add:1 }}" class="btn btn-dark" title="">
              <span class="oi oi-arrow-circle-right" title="arrow-circle-right" aria-hidden="true"></span>
            </a>
          {% else %}
            <a href="#" class="btn btn-dark" title="">
              <span class="oi oi-x" title="x" aria-hidden="true"></span>
            </a>
          {% endif %} 
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <form method="POST" class="btn-group btn-group-lg" style="float:right;">
            {% csrf_token %}
            <input name="跳转至页数" type="text" class="form-control" placeholder="页数" aria-label="Input group example" aria-describedby="btnGroupAddon2" style="width:70px;height:47px;padding:6px;font: 20px arial;display:inline;">
            <input type="hidden" name="当前分类" value="{{当前分类}}">
            &nbsp;&nbsp;
            <button type="submit" class="btn-dark">跳转</button>
          </form>
        </div>
      </div><br><br><br><br>
      <!--对于没有文章时的处理-->
      {% if 新闻总数 %}
            {% load oj_base_extra1 %}
            {% include "./alert/notice.html" with 信息=新闻总数|oj_base_extra1_filter1 %}
      {% else %}
            {% include "./alert/notice.html" with 信息="暂无该类别的新闻，敬请期待！（づ￣3￣）づ╭❤～"  %}
      {% endif %}
      <br>
{% endblock %}

