{% extends "oj_base/base.html" %}
{% load static %}
{% block css%} {% static 'oj_base/css/news.css' %} {% endblock %}

{% block  标题 %}新闻 {%endblock%}

{% block 主体 %}
    <br>
        <div class="card">
            <div class="card-header">
                <h3>{{ news_detail.title }}</h3>
            </div>
            <br><h6 class="text-primary">发布时间{{news_detail.created_time|date:"Y-m-d H:i:s"}}</h6><br>
            <h6 class="text-danger">最后更新于{{news_detail.last_updated_time|date:"Y-m-d H:i:s"}}</h6><br>
            <h6 class="text-info"> 分类：{{news_detail.newstype}} &nbsp;&nbsp;&nbsp; </h6>
            <div class="card-body">
                <pre style="background: white; white-space:pre-wrap;word-wrap:break-word;"class="card-text">{{ news_detail.content }}</pre>
            </div>
        </div>
{% endblock %}