{% extends "oj_base/base.html" %}

{% block  标题 %} 题目列表 {%endblock%}
{% block  题目列表高亮 %} active {%endblock%}

{% block  主体 %}
    <br>
    <h1 class="text-center text-white">problem{{problem.id}}.&nbsp  {{problem.Headline}}</h1>
    <br>
    <h5 class="text-center text-white">时间限制：{{problem.Time_Limit}}ms <br>内存限制：{{problem.Memory_Limit}}MB</h5>
    <h5 class="text-right text-black"><span class="oi oi-tag" title="tag" aria-hidden="true"></span>
    {% for Dict in 标签 %}
        <a class="text-dark" href="{% url 'problem:题目列表' %}?type={{Dict.id}}&page=1">{{Dict.Tag_name}}</a>
    {% endfor %}
    </h5>
    <br>
    <div class="container" >
        <div class="card">
            <div class="card-header">
                <h4>Description</h4>
            </div>
            <div class="card-body">
                <pre style="white-space:pre-wrap;word-wrap:break-word;" class="card-text">{{problem.Prob_Description}}</pre>
            </div>
        </div><br>
        <div class="card">
            <div class="card-header">
                <h4>Input</h4>
            </div>
            <div class="card-body">
                    <pre style="white-space:pre-wrap;word-wrap:break-word;"class="card-text">{{problem.Input}}</pre>
            </div>
        </div><br>
        <div class="card">
            <div class="card-header">
                <h4>Output</h4>
            </div>        
            <div class="card-body">
                    <pre style="white-space:pre-wrap;word-wrap:break-word;"class="card-text">{{problem.Output}}</pre>
            </div>
        </div><br>
        <div class="card">
            <div class="card-header">
                <h4>Sample Input</h4>
            </div>           
            <div class="card-body">
                    <pre style="white-space:pre-wrap;word-wrap:break-word;"class="card-text">{{problem.Eg_Input}}</pre>
            </div>
        </div><br>
        <div class="card">
            <div class="card-header">
                <h4>Sample Output</h4>
            </div>           
            <div class="card-body">
                    <pre style="white-space:pre-wrap;word-wrap:break-word;"class="card-text">{{problem.Eg_Output}}</pre>
            </div>
        </div><br>
        <div class="card">
            <div class="card-header">
                <h4>作者与上传时间</h4>
            </div>           
            <div class="card-body">
                    <p class="card-text"> {{problem.Author}}于{{problem.created_time}} 上传</p>
                    <p class="card-text"> 最后修改于{{problem.last_updated_time}}</p>
            </div>
        </div><br><br><br>
        {% comment %} <form action = 'submit' method="POST">
            {% csrf_token %} 
            id:<input type="text" name = 'id' value ='{{problem.id}}'><br>
            code:<textarea name = 'code'></textarea><br>
            <!--<input type="text" name = 'code'><br>-->
            <select name='language'>
                    <option value="c">c</option>
                    <option value="c++">c++</option>
            </select> <br>
            <input type="submit" value = '提交'>
        </form> {% endcomment %}
        {% if user.is_authenticated %}
        <form action = 'submit' method="POST">
            {% csrf_token %} 
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputState"><h4 class="text-white">选择语言</h4></label>
                    <select name="language" id="inputState" class="form-control">
                        <option selected>c++</option>
                        <option>c</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="comment"><h4 class="text-white">填入你的代码♪(･ω･)ﾉ</h4></label>
                    <textarea name = 'code' class="form-control" rows="25" id="comment" ></textarea>
                </div>
            </div>
            <input type="hidden" name = 'id' value ='{{problem.id}}'>
            <button type="submit" class="btn btn-lg btn-dark">Submit</button>
        </form>
        {% else %}
            {% include "oj_base/alert/notice.html" with 信息="先登录才能交题评测哦(≧∇≦)ﾉ" %}
        {% endif %}
    </div>
{% endblock %}
