{% extends "oj_base/base.html" %}

{% block  标题 %}评测记录 {%endblock%}
{% block  评测记录高亮 %}active {%endblock%}

{% block 主体 %}
    <tr>
        <td style="word-break:break-all;width:980px">
            <h1 style="color:black" align=center>评测状态：<font color=red>{{status.Judge_Status}}</font></h1>
            <h2>View Code</h2>
            <div style="background-color:#F4FBFF; border:#B7CBFF 1px dashed; font-size:12px">
                <div align=center style="font-family:Arial;border-bottom:#B7CBFF 1px dashed;padding:6px">
                    <b>
                        <font color=green>Problem : <a href="{% url 'problem:题目描述' status.Prob_ID %}" target=_blank>{{status.Prob_ID}}</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;Judge Status : <font color=red>{{status.Judge_Status}}</font>
                            <br>RunId : {{status.Status_ID}}
                        &nbsp;&nbsp;&nbsp;&nbsp;Language : {{status.Language}}
                        &nbsp;&nbsp;&nbsp;&nbsp;Author : <a href="{% url 'account:user_info' status.Author %}" target=_blank>{{status.Author}}</a>
                        </font>
                    </b>
            </div>
                {% comment %} <textarea id=usercode style="display:none;text-align:left;">
                    aaaa
                </textarea> {% endcomment %}


                <div>   
                    <pre class="prettyprint" style = 'background:#fff;'  >
                    <br>
            class Voila {
                public:
                // Voila
                static const string VOILA = "Voila";

                // will not interfere with embedded tags
            }
                    </pre>
                </div>


{% endblock %}
