
body{
    background-color: #efffff;  /*#f7f9ff*/
}

#topnav{
    font-size: 1.5em;
    padding-left: 5em;
    padding-right: 5em;
    height: 2.7em;
}

/* nav input{
    width: 39%!important; 优先级不够 强制覆盖
}*/

main{
    font-size: 1.1em;
}
